@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fg: #111111;
  --bg: #eeeeee;
  --ac-fg: #e7ecef;
  --ac-fg-dark: #8b8c89;
  --ac-dark: #274c77;
  --ac-light: #6096ba;
  --ac-extralight: #a3cef1;
}

body {
  margin: 0;
  padding: 0;
  
  color: var(--fg);
  background: var(--bg);
  
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}